<div class="container box_1620">
    <div class="insta_btn">
        <a class="btn theme_btn" href="#">Follow us on inst</a>
    </div>
    <div class="inst_image row m0">
        <a href="#"><img src="~/img/product/product1.png" =""></a>
        <a href="#"><img src="~/img/product/product1.png"=""></a>
        <a href="#"><img src="~/img/product/product1.png"=""></a>
        <a href="#"><img src="~/img/product/product1.png"=""></a>
      
    </div>
</div>
